@model RoletopMVC.ViewModels.HistoricoViewModel
@{
    ViewData["Title"] = "Seu Evento - Roletop";
}
<main>
    <br>
        <h2>Seu Historico de eventos</h2>
         <br>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Nome</th>
                <th>luz e som</th>
                <th>Forma ed pagamento</th>
                <th>Status do Pedido</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var pedido in Model.Pedidos ) {
                <tr>
                    <td>@pedido.DataDoEvento</td>
                    <td>@pedido.Nome</td>
                    <td>@pedido.LuzSom</td>
                    <td>@pedido.FormaPagamento</td>
                    <td>@pedido.Status</td>
                </tr>
            }
        </tbody>
    </table>
    <br>

    <h2>Legenda do Status</h2>
    <br>
    <p>0 = Pedido Pendente Aguarde Resposta.
        <br>
    1 = Pedido Aprovado Parabens!
    <br>
    2 = Pedido Reprovado Que Triste! </p>
    
      <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
</main>