@model RoletopMVC.ViewModels.HistoricoViewModel
@{
    ViewData["Title"] = "Seu Evento - Roletop";
}
<main>
    <br>
        <h2>Seu Historico de eventos</h2>
         <br>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Nome</th>
                <th>luz e som</th>
                <th>Forma ed pagamento</th>
                <th>Status do Pedido</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var pedido in Model.Pedidos ) {
                <tr>
                    <td>@pedido.DataDoEvento</td>
                    <td>@pedido.Nome</td>
                    <td>@pedido.LuzSom</td>
                    <td>@pedido.FormaPagamento</td>
                      <td>@if(@pedido.Status == 0)
                        {
                            <p>Pendente</p>

                        }else if(@pedido.Status == 1)
                        {
                            <p>Aprovado</p>
                        }else{
                            <p>Reprovado</p>
                        }
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br>

  
    
      <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
</main>